@import "../../vars";
.article{
  &:hover{
    transform: translateY(-10px);
    transition: transform .15s linear;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
  display: grid;
  grid-template-rows: min-content repeat(2, min(60px));
  align-content: center;
  background: white;
  padding-bottom: 15px;
  border-radius: 10px;
  .h3{
    color: $userColor;
    padding: 10px 0;
  }
  .img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-position: center center;
    background-size: cover;
    margin-bottom: 10px;
  }
  .description{
    color: $userNameColor;
    font-size: 1.3rem;
  }
  .info{
    padding: 10px;
  }
  .postAuthor{
    color: $userNameColor;
    gap: 10px;
    align-items: center;
    display: inline-flex;
    width: 120px;
    :hover{
      color: darken($userNameColor, 40%);
      transition: color .2s linear;
    }
  }
  .tag{
    position: relative;
    padding-left: 15px;
    color: $devColor;
    &::after{
      position: absolute;
      content: '';
      height: 8px;
      width: 8px;
      background: $adminColor;
      left: 0;
      top: 9px;
      border-radius: 50%;
    }
  }
}