.articleTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.articleList{
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 850px) {
  .articleList {
    grid-template-columns: 1fr;
  }
  .articleTop{
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}