@import '../../../styles/keyframes';
.circleInner{
  position: absolute;
  width: 500px;
  height: 500px;
  right: -155px;
  top: -100px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-animation: wheel 15s linear infinite;
  animation: wheel 15s linear infinite;
}
.logo{
  transform-origin: center;
  position: relative;
  z-index: -1;
  width: 50px;
  height: 50px;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation: planets 15s linear infinite;
  animation: planets 15s linear infinite;
  border-radius: 20px;
  padding: 7px;
  background: scale-color(#2a2a32, $lightness:+10%);
  &:first-child{
    top: 13%;
    left: 7%;
  }
  &:nth-child(2){
    top: 23%;
    left: 80%;
  }
  &:nth-child(3){
    top: 65%;
    right: -70%;
  }
  &:nth-child(4){
    top: 90%;
    right: 7%;
  }
  &:nth-child(5){
    top: -5%;
    right: 4%;
  }
  &:nth-child(6){
    top: 56%;
    right: 54%;
  }
  &:nth-child(7){
    top: 90%;
    right: -5%;
  }
  &:nth-child(8){
    top: 0;
    right: 4%;
  }
}
@media (max-width: 560px) {
  .circleInner{
    width: 350px;
    height: 350px;
    right: -90px;
    top: -40px;
  }
  .ava{
    width: 200px;
  }
  .logo{
    &:first-child{
      top: 10%;
      left: 3%;
    }
    &:nth-child(2){
      top: 30%;
      left: 78%;
    }
    &:nth-child(3){
      top: 75%;
      right: -53%;
    }
    &:nth-child(4){
      top: 93%;
      right: -3%;
    }
    &:nth-child(5){
      top: -7%;
      right: 28%;
    }
    &:nth-child(6){
      top: 49%;
      right: 80%;
    }
    &:nth-child(7){
      top: 67%;
      right: -11%;
    }
    &:nth-child(8){
      top: -55px;
      right: -55%;
    }
  }
}
