@import '../../../styles/vars';
@import '../../../styles/keyframes';
.swiper {
  animation: pageShowReverse .4s ease-in;
  width: 600px;
  height: 370px;
  margin-right: 1rem;
  &-slide {
    padding: 40px;
    border-radius: 18px;
    font-size: 1.3rem;
    color: #fff;
    background: $bgGrad;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
    a{
      font-size: 1.3rem;
    }
  }
  pre{
    &:not(:first-child){
      margin-top: 1px;
    }
  }
}
.const{
  color: $PINK;
}
.title{
  color: $YELLOW;
}
.text{
  color: #56b6c2;
}
.link{
  color: $GREEN;
  font-weight: 400;
}
a.link:hover{
  color: scale-color($GREEN, $lightness: +80%);
}
.comment{
  color: $GRAY;
  font-weight: 600;
  font-size: 1.1rem;
}
@media (max-width: 1000px) {
  .swiper {
    margin: 0 auto;
    width: 430px;
    height: 280px;
    &-slide{
      &:first-child,  a{font-size: .9rem}
      padding: 20px;
      font-size: 1rem;
    }
    .comment {font-size: .9rem}
  }
}
@media (max-width: 560px) {
  .swiper {
    width: 330px;
    height: 260px;
    &-slide{
      &:first-child, a{font-size: 0.7rem;}
      font-size: .8rem;
    }
    pre{
      &:not(:first-child){
        margin-top: 4px;
      }
    }
    .comment {font-size: 0.7rem;}
  }
}
