@import '../../../styles/vars';
.swiper {
  width: 600px;
  height: 370px;
  margin-right: 1rem;
  span{
    cursor: default;
  }
  &-slide {
    padding: 40px;
    border-radius: 18px;
    font-size: 1.3rem;
    color: #fff;
    background: $bgCard;
    a{
      font-size: 1.3rem;
    }
  }
  pre{
    &:not(:first-child){
      margin-top: 1px;
    }
    &:not(:last-of-type) span:last-of-type{
      font-size: 1rem;
    }
  }
}
.const{
  color: $PINK;
}
.title{
  color: $YELLOW;
}
.text{
  color: #56b6c2;
}
.link{
  color: $GREEN;
  font-weight: 400;
}
a.link:hover{
  color: scale-color($GREEN, $lightness: +40%);
}
.comment{
  color: $GRAY;
  font-weight: 600;
  font-size: 1.1rem;
}
@media (max-width: 1000px) {
  .swiper {
    margin-left: 6rem;
    width: 430px;
    height: 280px;
    &-slide{
      &:first-child,  a{
        font-size: .9rem;
      }
      padding: 20px;
      font-size: 1rem;
    }
    .comment{
      font-size: .9rem;
    }
  }
}
@media (max-width: 560px) {
  .swiper {
    margin: 0 auto;
    width: 320px;
    height: 250px;
    &-slide{
      &:first-child, a{
        font-size: 0.7rem;
      }
      padding: 20px;
      font-size: .9rem;
    }
    .comment{
      font-size: 0.7rem;
    }
  }
}
