@import '../../styles/vars';
@import '../../styles/keyframes';
.link{
  font-weight: unset;
  font-size: unset;
  animation: pageShow .4s linear;
  -webkit-animation: pageShow .4s linear;
  &:nth-child(2n){
    animation: pageShowReverse .4s linear;
    -webkit-animation: pageShowReverse .4s linear;
  }
}
.article{
  &:hover{
    transform: translateY(-10px);
    transition: transform .15s linear;
    box-shadow: 0 5px 10px 10px #0d0d10;
  }
  display: grid;
  background: $bgGrad;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 1px 5px 5px #0d0d10;
  .h3{
    color: $primaryColor;
    padding: 10px 0;
  }
  .img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .description{
    color: $primaryColor;
    font-size: 1.3rem;
  }
  .info{
    padding: 20px;
  }
  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tags{
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .description, .h3{
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}