@import '../../styles/vars';
.article{
  &:hover{
    transform: translateY(-10px);
    transition: transform .15s linear;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
  display: grid;
  grid-template-rows: min-content repeat(2, min(60px));
  align-content: center;
  background: white;
  padding-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  .h3{
    color: $secondaryColor;
    padding: 10px 0;
  }
  .img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
  }
  .description{
    color: $userNameColor;
    font-size: 1.3rem;
  }
  .info{
    padding: 10px;
  }
  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tagNote, .tagProgramming, .tagStudy{
    position: relative;
    padding-left: 15px;
    color: $secondaryColor;
  }
  .tagNote::after, .tagProgramming::after, .tagStudy::after{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    left: 0;
    top: 7px;
    border-radius: 50%;
  }
  .tagStudy::after{
    background: $RED;
  }
  .tagProgramming::after{
    background: $BLUE;
  }
  .tagNote::after{
    background: $primaryHover;
  }
}