@import '../../styles/vars';
.article{
  &:hover{
    transform: translateY(-10px);
    transition: transform .15s linear;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
  }
  display: grid;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  .h3{
    color: $secondaryColor;
    padding: 10px 0;
  }
  .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  .description{
    color: $userNameColor;
    font-size: 1.3rem;
  }
  .info{
    padding: 10px;
  }
  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}