@import '../../../styles/vars';

.categories{
  display: flex;
  gap: 20px;
  .item{
    user-select: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    color: $secondaryColor;
    background: $primaryColor;
    &:hover{
      color: $secondaryColorHover;
      transform: scale(1.1);
      transition: transform .15s linear;
    }
  }
  .active{
    background: $bg-white;
    color: $primaryColor;
    &:hover{
      color: $primaryColor;
    }
  }
}
@media (max-width: 800px) {
  .categories{
    flex-wrap: wrap;
    gap: 10px;
    .item{
      font-size: 0.8rem;
      padding: 10px 13px;
      &:nth-child(2){
        order: 2;
      }
    }
  }
}