@import '../../../styles/vars';
.categories{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  .item{
    user-select: none;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    color: $primaryColor;
    background: $bgCard;
    &:hover{
      box-shadow: 0 0 3px 5px rgb(9, 14, 9);
      transform: scale(1.1);
      transition: all .15s linear;
      border-radius: 10px;
      background: $bgCategories;
    }
  }
  .active{
    color: $primaryColor;
    border-radius: 10px;
    background: $bgCategories;
  }
}
@media (max-width: 800px) {
  .categories{
    gap: 10px;
    .item{
      font-size: 0.8rem;
      padding: 10px 13px;
      &:nth-child(2){
        order: 2;
      }
    }
  }
}