@import '../../../styles/vars';
.subTitle{
  color: $PINK;
  font-weight: 400;
}
.title{
  margin-bottom: 10px;
}
.content{
  text-align: center;
  color: $BLUE;
  max-width: 800px;
  flex: 1 0 auto;
  position: relative;
  &::before{
    content: '';
    width: 2px;
    height: 1415px;
    top: 125px;
    z-index: -1;
    position: absolute;
    background-color: $whiteThemeText;
    right: 50%;
  }
  li:nth-child(2n){
    justify-self: flex-end;
    &::after{
      right: unset;
      left: -78px;
    }
  }
  a{
    color: $BLUE;
    font-weight: unset;
    font-size: unset;
    &:hover{
      color: scale-color($BLUE, $lightness: +55%);;
    }
  }
}
.skillsList {
  margin-top: 20px;
  display: grid;
}
@media (max-width: 1250px) {
  .skillsList {
    @include flex(20px, 0, 0, 0, 0);
    padding: 20px;
    overflow-x: auto;
  }
  .content{
    flex: unset;
    margin: unset;
    min-width: 200px;
    max-width: 620px;
    &::before{
      content: unset;
    }
  }
}