@import '../../../styles/vars';
.content{
  text-align: center;
  color: $BLUE;
  max-width: 800px;
  flex: 1 0 auto;
  position: relative;
  &::before{
    content: '';
    width: 2px;
    height: 1425px;
    top: 125px;
    z-index: -1;
    position: absolute;
    background-color: $whiteThemeText;
    right: 50%;
  }
  li:nth-child(2n){
    justify-self: flex-end;
    &::after{
      right: unset;
      left: -78px;
    }
  }
  h2{
    margin-bottom: 5px;
  }
  a{
    color: $BLUE;
    font-weight: unset;
    font-size: unset;
    &:hover{
      color: scale-color($BLUE, $lightness: +55%);;
    }
  }
}
.skillsList {
  margin-top: 20px;
  display: grid;
}
@media (max-width: 1250px) {
  .skillsList {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: flex-start;
    gap: 20px;
  }
  .content{
    text-align: left;
    flex: unset;
    margin: unset;
    min-width: 200px;
    max-width: 620px;
    &::before{
      content: unset;
    }
  }
}