@import '../../styles/keyframes';
.content{
  animation: profileShow .3s linear;
  -webkit-animation: profileShow .3s linear;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .content{
    flex-wrap: wrap;
  }
}