@import '../../../styles/vars';
.card{
  background: $bgGrad;
  border-radius: 40px;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0);
  padding: 40px 40px 30px;
}
.text{
  font-size: 1.3rem;
  padding-top: 2px;
}
h3{
  color: $PINK;
  font-weight: 400;
}
.card a{
  color: $BLUE;
  font-weight: 500;
  &:hover{
    color: darken($BLUE, 30%);
  }
}
.card a:nth-child(2){
  color: $BLUE;
  font-size: 1.3rem;
  &:hover{
    color: darken($BLUE, 20%);
  }
}
@media (max-width: 440px) {
  .card{
    padding: 30px 25px 20px;
    .text{
      font-size: 1.2rem;
    }
  }
}