@import 'vars';
@import 'keyframes';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  min-width: 340px;
}
body {
  font-family: 'Ubuntu', 'Segoe UI', sans-serif;
  color: $primaryColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bgWhitePage;
  overflow-x: hidden;
}
ul {list-style-type: none}
a{
  text-decoration: none;
  color: $primaryColor;
  font-weight: 500;
  font-size: 1.2em;
  &:focus{
    outline: none;
    color: scale-color($primaryColor, $lightness: +50%);
  }
  &:hover{
    transition: color .2s linear;
  }
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
input{
  outline: none;
  border: none;
}
.lock {overflow: hidden}
.active {overflow: unset}