@import 'vars';
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: $primaryColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-white;
  overflow-x: hidden;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: $primaryColor;
  font-weight: 600;
  font-size: 1.2em;
  &:hover{
    transition: color .2s linear;
    color: $primaryHover;
  }
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
input{
  outline: none;
  border: none;
}
#root{
  min-width: 350px;
}