@import 'vars';
@import 'keyframes';
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  min-width: 340px;
}
body {
  font-family: 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  color: $primaryColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bgWhite;
  overflow-x: hidden;
  animation: pageGradient 5s linear 1s infinite alternate running;
  -webkit-animation: pageGradient 5s linear 1s infinite alternate running;
}
ul {list-style-type: none}
a{
  text-decoration: none;
  color: $primaryColor;
  font-weight: 600;
  font-size: 1.2em;
  &:focus{
    outline: none;
    color: scale-color($primaryColor, $lightness: +50%);
  }
  &:hover{
    transition: color .2s linear;
    color: $primaryHover;
  }
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
input{
  outline: none;
  border: none;
}
.lock {overflow: hidden}
.active {overflow: unset}