@-webkit-keyframes twiddle{
  from{
    transform: rotateZ(-5deg);
  }
  to{
    transform: rotateZ(5deg);
  }
}
@keyframes twiddle{
  from{
    transform: rotateZ(-5deg);
  }
  to{
    transform: rotateZ(5deg);
  }
}
@-webkit-keyframes wheel{
  from{
    transform: rotateZ(0);
  }
  to{
    transform: rotateZ(360deg);
  }
}
@keyframes wheel{
  from{
    transform: rotateZ(0);
  }
  to{
    transform:rotateZ(360deg);
  }
}
@-webkit-keyframes planets{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(-360deg);
  }
}

@keyframes planets{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(-360deg);
  }
}
@keyframes burgerShow {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
@-webkit-keyframes burgerShow{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes pageShow {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes pageShow{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}