$primaryColor: #ffffff;
$primaryHover: darken($primaryColor, 40%);

$secondaryColor: #1f1f1f;
$secondaryColorHover: darken($secondaryColor, 80%);

$whiteThemeText: #aaa;

$RED: #ff4444;
$BLUE: #00bebe;
$GREEN: #98c379;

$userNameColor: #727272;

$bg-white: #1d1d23;
$bg-menuMobile: linear-gradient(#3b3b3b, #23232a);