$primaryColor: #ffffff;
$primaryHover: darken($primaryColor, 30%);

$secondaryColor: #1f1f1f;
$secondaryColorHover: darken($secondaryColor, 80%);

$whiteThemeText: #aaa;

$RED: #ff4444;
$BLUE: #00bebe;

$userNameColor: #727272;

$bg-white: linear-gradient(180deg, #1f1f1f, #373b41);
$bg-menuMobile: linear-gradient(200deg, #1f1f1f, #373b41);