$primaryColor: #ffffff;
$primaryHover: darken($primaryColor, 30%);

$secondaryColor: #1f1f1f;
$secondaryColorHover: darken($secondaryColor, 80%);

$whiteThemeText: #aaa;

$RED: #ff4444;
$BLUE: #00bebe;

$userNameColor: #727272;

$bg-white: #1d1d23;
$bg-menuMobile: linear-gradient(#1f1f26, #35353f);