@import '../../styles/keyframes';
.circleInner{
  @include position(absolute, -155px, -100px);
  width: 500px;
  height: 500px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: wheel 15s linear infinite;
}
.info{
  @include flex(0, center, space-between, 0, 0);
  user-select: none;
  position: relative;
}
.profileImage{
  animation: pageShow .4s ease-in;
  position: relative;
}
@media (max-width: 1000px) {
  .info{
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .profileImage{
    margin-top: 40px;
    order: -1;
  }
}
@media (max-width: 560px) {
  .profileImage{
    > img{
      width: 200px !important;
    }
  }
}