@import '../../styles/keyframes';
.circleInner{
  @include position(absolute, -155px, -100px);
  width: 500px;
  height: 500px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: wheel 15s linear infinite;
}
.info{
  @include flex(0, center, 0, 0, 0);
  user-select: none;
  margin-left: 4rem;
}
.profileImage{
  animation: pageShow .4s ease-in;
  position: relative;
}
@media (max-width: 1000px) {
  .info{
    @include flex(50px, 0, center, 0, column);
    margin-left: unset;
  }
  .profileImage{
    margin-top: 40px;
    order: -1;
  }
}