@import '../../styles/keyframes';
.info{
  @include flex(0, center, space-between, 0);
  user-select: none;
  animation: pageShow .4s linear;
  -webkit-animation: pageShow .4s linear;
  position: relative;
  .ava{
    border-radius: 50%;
    width: 280px;
    filter: drop-shadow(0 0 20px rgba(114, 114, 114, 0.4));
  }
  .profileImage{
    position: relative;
  }
}
@media (max-width: 1000px) {
  .info{
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .profileImage{
    margin-top: 40px;
    order: -1;
  }
}
@media (max-width: 560px) {
  .profileImage{
    > img{
      width: 200px !important;
    }
  }
}