@import '../../../styles/vars';
.input {
  max-width: 100px;
  padding: 10px 20px;
  margin-right: 30px;
  border-radius: 10px;
  border: 3px solid transparent;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .8);
  &:hover{
    border: 3px solid $GREEN;
    transition: transform .2s linear;
    transform: scale(1.05);
  }
  &:focus{
    border: 3px solid $GREEN;
    max-width: 240px;
    transition: max-width .15s linear;
  }
}