@import '../../../styles/vars';
@import '../../../styles/keyframes';
.burger{
  position: relative;
  z-index: 4;
  display: none;
  > svg{
    width: 2.5em;
    height: 2.5em;
  }
}
.hidden{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  position: relative;
}
.menu{
  animation: burgerShow .3s linear;
}
@media (max-width: 450px) {
  .menu, .hidden{
    display: block;
    padding: 10px;
    margin-top: 10px;
    position: fixed;
    left: 45px;
    background: $bgMenuMobile;
    z-index: 3;
    top: 0;
    font-size: 2em;
    text-align: center;
    border-radius: 30px;
    a{
      display: block;
      padding: 15px;
    }
  }
  .hidden{
    transform: translateY(-200%);
    transition: transform .3s linear;
  }
  .burger{
    display: block;
    color: $primaryColor;
  }
}