@import '../../../styles/vars';
.burger{
  position: relative;
  z-index: 4;
  display: none;
}
.burger > svg{
  width: 2.5em;
  height: 2.5em;
}
.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.active{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: $bg-menuMobile;
  z-index: 3;
  top: 0;
  font-size: 2em;
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
  li:not(:last-child){
    margin-bottom: 40px;
  }
  a{
    display: block;
    padding: 30px;
  }
}
@media (max-width: 450px) {
  .menu{
    display: none;
  }
  .burger{
    display: block;
    color: $primaryColor;
  }
}