@import '../../../../styles/vars';
.block{
  background: $bgGrad;
  color: $YELLOW;
  box-shadow: $shadow;
  padding: 20px;
  border-radius: 30px 60px;
  max-width: 330px;
  position: relative;
  &::after{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: $PINK;
    right: -77px;
    top: 35px;
    border-radius: 3px;
    transform: rotateZ(-45deg);
  }
  .info{
    @include flex(10px, baseline, 0, wrap, 0);
  }
  &:nth-child(2n){
    .time{
      order: 1;
    }
  }
}
.skill{
  background-color: $bgCard;
  border-radius: 10px;
  box-shadow: $shadow;
  padding: 5px 10px;
  color: $BLUE;
}
.time{
  border-radius: 15px 3px;
  box-shadow: inset 0 0 10px 3px rgb(14, 21, 13);
  padding: 10px;
  color: $GREEN;
}
.knowledge{
  @include flex(10px, 0, 0, wrap, 0);
  margin-top: 15px;
  > li{
    box-shadow: inset 0 5px 10px 5px rgb(14, 14, 2);
    padding: 10px;
    border-radius: 10px 20px;
  }
}
@media (max-width: 1250px) {
  .block{
    min-width: 300px;
    height: 100%;
    .info{
      flex-wrap: nowrap;
    }
    &::after{
      content: unset;
    }
  }
}