@import '../../styles/vars';
.wrapper{
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
}
.post{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background: white;
  border-radius: 50px;
  padding: 30px;
}
.img{
  width: 100%;
  border-radius: 10px;
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondaryColor;
  margin-bottom: 50px;
}
.text{
  color: $secondaryColor;
  font-size: 1.3rem;
}
.authorWrapper{}
@media (max-width: 1000px) {
  .post{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 568px) {
  .info{
    display: unset;
  }
  .authorWrapper{
    margin: 10px 0;
  }
}