@import '../../../styles/vars';
.profileWrapper{
  background-color: $bgWhite;
  border-radius: 20px;
  padding: 20px;
  box-shadow: $shadow;
}
.profileInfoTop{
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
}
.name {
  color: $PINK;
}