@import '../../../styles/vars';
@import '../../../styles/keyframes';
.profileCard{
  animation: burgerShow .2s linear;
  cursor: auto;
  user-select: none;
  margin-top: 10px;
  background-color: #2a2a32;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgb(9, 14, 9);
  padding: 10px;
  width: 200px;
  span{
    color: $whiteThemeText;
  }
  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .userInfo{
    a{
      color: $userNameColor;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  svg{
    color: $userNameColor;
  }
  .name{
    &:hover span{
      color: darken($whiteThemeText, 20%);
    }
    a{
      color: $userNameColor;
      display: inline-flex;
      margin-bottom: 2px;
    }
  }
  .role{
    color: $RED;
  }
  .bottom{
    color: $whiteThemeText;
  }
}