@import '../../../styles/vars';
@import '../../../styles/keyframes';
.profileCard{
  cursor: auto;
  user-select: none;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  background: $bgGrad;
  span{
    color: $whiteThemeText;
  }
  .top{
    @include flex(40px, center, space-between, 0);
    margin-bottom: 10px;
  }
  .userInfo{
    a{
      @include flex(20px, center, 0, 0);
      color: $userNameColor;
    }
  }
  svg{
    color: $userNameColor;
  }
  .name{
    &:hover span{
      color: darken($whiteThemeText, 20%);
    }
    a{
      color: $userNameColor;
      display: inline-flex;
      margin-bottom: 2px;
    }
  }
  .role{
    color: $GREEN;
  }
  .bottom{
    color: $whiteThemeText;
  }
}