@import '../../styles/vars';
.header{
  margin-bottom: 50px;
  padding-top: 20px;
  .nav{
    display: flex;
    justify-content: space-between;
  }
  li:hover svg{
    color: $primaryHover;
    transition: color .2s linear;
  }
}