@import '../../styles/vars';
.header{
  margin-bottom: 90px;
  padding-top: 5px;
  position: relative;
  z-index: 50;
  .nav{
    display: flex;
    justify-content: space-between;
  }
  li:hover svg{
    color: $primaryHover;
    transition: color .2s linear;
  }
}
@media (max-width: 1000px) {
  .header{
    margin-bottom: 20px;
  }
}