@import "../../../styles/index";
.logo{
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation: planets 15s linear infinite;
  animation: planets 15s linear infinite;
  border-radius: 20px;
  padding: 5px;
  background-color: darken($GREEN, 10%);
  > path {
    fill: darken($bgCard, 10%);
  }
  &:first-child{
    top: 23%;
  }
  &:nth-child(2){
    top: 23%;
    left: 80%;
  }
  &:nth-child(3){
    top: 56%;
    right: -74%;
  }
  &:nth-child(4){
    top: 90%;
    right: 7%;
  }
  &:nth-child(5){
    right: 17%;
  }
  &:nth-child(6){
    top: 56%;
    right: 54%;
  }
  &:nth-child(7){
    top: 90%;
    right: -5%;
  }
  &:nth-child(8){
    right: 5%;
  }
}