@import '../../../styles/keyframes';
.logo{
  position: relative;
  width: 40px;
  height: 40px;
  animation: planets 15s linear infinite;
  border-radius: 20px;
  padding: 5px;
  background-color: darken($GREEN, 10%);
  > path {
    fill: darken($bgCard, 10%);
  }
  &:first-child{
    top: 20%;
    right: -2%;
  }
  &:nth-child(2){
    top: 20%;
    left: 79%;
  }
  &:nth-child(3){
    top: 69%;
    right: -70%;
  }
  &:nth-child(4){
    top: 90%;
    right: 10%;
  }
  &:nth-child(5){
    right: 20%;
    top: 1%;
  }
  &:nth-child(6){
    top: 47%;
    right: 55%;
  }
  &:nth-child(7){
    top: 95%;
    right: 15%;
  }
  &:nth-child(8){
    right: 24%;
    top: -20px;
  }
  &:nth-child(9){
    top: 90%;
    right: 10%;
  }
  &:nth-child(10){
    right: -72%;
    top: -44px;
  }
  &:nth-child(11){
    top: 35%;
    right: -85%;
  }
  &:nth-child(12){
    top: 60%;
    left: -18%;
  }
}