@import '../../../vars';
.ul{
  display: flex;
  gap: 30px;
  align-items: center;
}

.itemProfile{
  position: relative;
  > svg{
    height: 2em;
    width: 2em;
  }

}
li > svg:hover{
  color: $primaryHover;
  transition: color .2s linear;
  cursor: pointer;
}
svg, a > svg{
  height: 1.7em;
  width: 1.7em;
  color: $primaryColor;
}