@import '../../styles/vars';
.hexagon {
  position: relative;
  z-index: 5;
  background-image: $bgGreen;
  transition: transform .3s linear;
  &:before,
  &:after {
    content: '';
    display: block;
    @include position(absolute);
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit;
  }
  &:before {
    transform: rotate(60deg);
  }

  &:after {
    transform: rotate(-60deg);
  }
}
.image{
  pointer-events: none;
  transition: transform .3s linear;
  left: -50px;
}