@import '../../styles/vars';
.hexagon {
  position: relative;
  z-index: 50;
  background-image: $bgGreen;
  transition: transform .3s linear;
  &:hover {
    transform: rotate(30deg);
  }
  &:hover img.image{
    transform: rotate(0);
  }
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: inherit;
    background-image: inherit;
    border-radius: inherit;
  }
  &:before {
    transform: rotate(60deg);
  }

  &:after {
    transform: rotate(-60deg);
  }
  img.image{
    transform: rotate(30deg);
    transition: transform .3s linear;
    left: -50px;
  }
}