@import 'vars';
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: $primaryColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-white;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
button{
  border: none;
  background: transparent;
  cursor: pointer;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
#root{
  min-width: 250px;
}