*:not(svg),
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Отступ кнопки от subheader в ModalCard */
.vkuiModalCardBase__subheader+.vkuiModalCardBase__actions {
    margin-top: 20px;
}

/* Отступ в InfoRow */
.vkuiInfoRow__header {
    margin-bottom: 5px;
}

/*!* Для корректной работы HorizontalScroll в UserStory *!*/
.vkuiHorizontalCell--size-s {
    max-width: unset;
}
