._ImageBase__img_eyrva_28 {
    position: unset !important;
    object-fit: unset !important;
}

._HorizontalCell__content_1q642_21 {
     word-break: unset !important;
}

._ImageBase__img_d71ki_32 {
    object-fit: unset !important;
}
