$primaryColor: #ffffff;
$primaryHover: darken($primaryColor, 30%);
$whiteThemeText: #aaa;

$adminColor: #ec0000;
$devColor: #00bebe;
$userColor: #3d3d3d;
$userNameColor: #727272;

$bg-white: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4,
        #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
$bg-menuMobile: linear-gradient(180deg, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4,
        #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);