@import '../../styles/vars';
.block{
  @include flex(50px, 0, center, 0, column);
}
.title{
  text-align: center;
  font-size: 14rem;
  color: $RED;
  font-weight: 600;
}
.text{
  text-align: center;
  font-size: 2rem;
  color: $userNameColor;
}
.button{
  display: inline-flex;
  margin: 0 auto;
  font-size: 2rem;
}
@media (max-width: 600px) {
  .title {font-size: 8rem}
  .text {font-size: 1rem}
}